*.c
*.o
/config.h
/config.status
/config.log
*.stamp
.deps
.dirstamp
stamp-h1
Makefile
autom4te.cache
*~
/debian/files
.vagrant
/test.mp3
*.gschema.valid
*.stamp-t
*.a
*.lo
*.la
.libs
/debian/tmp
*.dh-orig
/libtool
