Source: libvspec-1.0
Section: devel
Priority: optional
Maintainer: Marcin Lewandowski <marcin@saepia.net>
Build-Depends:
 debhelper (>= 9),
 dh-autoreconf,
 autoconf,
 autotools-dev,
 libtool,
 libglib2.0-dev (>= 2.42.1),
 valac (>= 0.26.1)
Standards-Version: 3.9.6
Homepage: https://github.com/mspanc/vspec

Package: libvspec-1.0-dbg
Architecture: any
Priority: extra
Section: debug
Depends:
 libvspec-1.0-0 (= ${binary:Version}),
 ${misc:Depends}
Description: Debugging symbols for RSpec-like testing framework for Vala language.
 This package contains debugging symbols for RSpec-like testing framework for
 the Vala language.

Package: libvspec-1.0-dev
Architecture: any
Section: libdevel
Multi-Arch: same
Depends:
 libvspec-1.0-0 (= ${binary:Version}),
 ${misc:Depends}
Description: Development files for RSpec-like testing framework for Vala language.
 This package contains development files (C headers, VAPI files) for RSpec-like
 testing framework for the Vala language.

Package: libvspec-1.0-0
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends},
 libglib2.0-0 (>= 2.42.1)
Suggests: pulseaudio
Description: RSpec-like testing framework for Vala language.
 This library provides framework for RSpec-style known from Ruby but for Vala.
